body{
    color: #40514E;
    text-align: center;
     font-family: 'Merriweather', serif;
}
.main{
margin: 0px 0px 0px 0px;
background-color: #EAF6F6;
color: #66BFBF;
padding-top:130px ;
padding-bottom: none;
font-family: cursive;
}
.uper-cloud{
    width: 250px;
    height: 250px;
    position: absolute;
    right: 200px;
    top:20px
}
.lower-cloud{
    width: 150px;
    height: 150px;
    position:absolute;
/* bottom: 500px; */
}
span{
    text-decoration: underline;
}

.middle{
    padding: 100px 0;
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;

}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
}
.intro{
width: 30%;
margin: auto;

}
hr{
    border: dotted;
    border-style:none ;
    border-top-style:dotted ;
   width: 5%;
   border-width: 5px;
   color: #d7efef;
   margin: 100px auto 100px auto;
}
.coding-picture{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
}
p{
    line-height: 2;
}
.skill{
    width: 50%;
    margin: 100px auto 10px auto;
    text-align: left;
}
.bottom{
    width: 25%;
    margin:100px auto 100px auto ;
}
.chili{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: right;
    background-color: black;
    margin-left: 30px;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
a{
    color: #11999E;

    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.9rem;
    padding: 20px 0;
}
.get{
    padding: 40px 20px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }